@charset "utf-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
	font-family:Calibri, sans serif;

}
body{
	margin-top:15px;
	margin-bottom:15px;
	background-color:#DFE7F1;
}
#pagina{
	width:900px;
	padding-left:30px;
	padding-right:30px;
	margin-left:auto;
	margin-right:auto;
	background-color:#fff;

}
#topo{
	width:960px;
	height:55px;
	padding-top:35px;
	vertical-align:bottom;
}
h1{
	float:left;
	width:150px;
	height:61px;
	text-align:center;
	text-decoration:none;
	margin-right:30px;
}
h2{
	clear:both;
	text-decoration:none;
	color:#003F87;
	font-weight:normal;
}
#menu{
	float:left;
	width:550px;
	padding-top:10px;
}
#menu li{
	text-decoration:none;
	float:left;
	display:block;
	padding-right:15px;
	padding-bottom:0px;
	color:#bbb;
	font-size:14px;
}
#menu a{
	text-decoration:none;
	color: #555;
	font-weight:bold;
}
form{
	float:left;
	margin-top:8px;
}
input{
	width:165px;
}
#centro{
	width:900px;
	height:453px;
	background-image:url(../imagem/HeroStoryReplacementImage.png);
	background-repeat:no-repeat;
	
}

#centro p{
	position:relative;
}
#txt{
	width:450px;
	padding-top:210px;
	padding-left:450px;
	font-size:22px;
	color:#fff;
}
#bt{
	width:95px;
	text-align:center;
	margin-top:20px;
	margin-left:755px;
	margin-right:1px;
	padding-right:1px;
	font-size:16px;
	color:#fff;
	background-color:rgba(200,200,200,0.40);
}
#pg ul{
	list-style:none;
	float:left;
	padding-left:55px;
	padding-top:110px;	
}
#pg li{
	float:left;
	width:20px;
	text-align:center;
	margin-right:5px;
	color:#668BB7;
	background-color:rgba(200,200,200,0.80);
	
}
#location , #news , #careers , #invertors {
	margin-top:10px;
	padding:5px;
	float:left;
	width:209px;
	height:110px;
	border:1px #ccc solid;
	color:#003F87;
}
#location {
	background-image:url(../imagem/home_locations_img_0.jpg);
	background-position:127px 52px;
	background-repeat:no-repeat;	
	margin-right:5px;
}
#location h2{
	font-weight:normal;
	font-size:20px;
}
#location p{
	font-size:14px;
}
#news{
	background-image:url(../imagem/home_news_img.jpg);
	background-position:128px 65px;
	background-repeat:no-repeat;	
	margin-right:5px;
}
#news h2{
	font-weight:normal;
	font-size:20px;
}
#news p{
	font-size:14px;
}
#careers{
	background-image:url(../imagem/home_career_img.jpg);
	background-position:right 60px;
	background-repeat:no-repeat;	
	margin-right:5px;
}
#careers h2{
	font-weight:normal;
	font-size:20px;
}
#careers p{
	font-size:14px;
}
#invertors{
	background-image:url(../imagem/BG.png);
	background-position:right 75px;
	background-repeat:no-repeat;	
}
#invertors h2{
	font-weight:normal;
	font-size:20px;
}
#inv{
	background-color:#9FAE27;
	color:#fff;
}
span{	
	padding:10px;
}
#invertors p{
	font-size:14px;

}
/*About Bunge*/
#about-centro{
	width:736px;
	height:218px;
	background:#003F87;
	background-image:url(../imagem/CompanyAboutUs.jpg);
	background-repeat:no-repeat;
	background-position:right;
}
#txtcentro{
	padding-left:30px;
	padding-top:92px;
}
.caminhao{
	float:left;
}
#rodape {
	width:900px;
	height:52px;
	padding-top:30px;
	font-size:12px;
	clear:both;
}
#rodape p{
	color:#888;
}
#rodape a{
	text-decoration:none;
	color:#888;
}
#bunge {
	width:130px;
	padding-right:100px;
	float:left;
}
#contact {
	width:280px;
	padding-right:100px;
	float:left;
}
#contact ul{
	list-style:none;
}
#contact li{
	float:left;
	padding-right:10px;
}
	
#frase{
	width:280px;
	float:left;
}
	